<div class="login-container">
    <form [formGroup]="loginForm" class="login-form"  (ngSubmit)="onSubmit()">
        <h2>Login to account</h2>
        <div class="form-group">
            <input 
                type="email" 
                placeholder="email"
                id="email"
                formControlName="email"
                [class.error]="email?.invalid && email?.touched">
                <div *ngIf="email?.invalid && email?.touched">
                    Неверный формат почты
                </div>
        </div>
        <div class="form-group">
            <input 
                type="password" 
                placeholder="password"
                id="password"
                formControlName="password"
                [class.error]="password?.invalid && password?.touched">
                <div *ngIf="email?.errors?.['required']">Введите пароль</div>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{errorMessage}}
        </div>
        <button 
            type="submit"
            class="btn btn-primary"
            [disabled]="loginForm.invalid || isLoading">
            {{ isLoading ? 'Заходим..' : "Login"}}
        </button>
    </form>
</div>
